.TodoItem{
    font-family:  "Helvetica neue",
    Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    padding: 10px 5px;
    border-bottom: 1px solid #EEE;
    display: flex;
    transition: 0,5s ease;
}

.TodoItem:last-child{
    border-bottom: none;
}

.TodoItem > p{
    margin: 0;
    margin-left: 20px;

}

.TodoItem-complete > p{
    text-decoration: line-through;
    opacity: 0.3;
}