.App{
  margin: 20px 30px;
}

.tag{
  height: 32px;
  border-radius: 16px;
  background: #c4c4c4;
  font-weight: 300px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  min-width: 80px;
  max-width: 130px;
  float: left;
  padding: 4px;
  margin-right: 20px;
  width: 240px;
}

.btn{
  border: none;
  background: yellowgreen;
  height: 39px;
  color: #FFF;
  position: absolute;
  box-shadow: 0 0 0 0;
}

.input{
  height: 32px;
  font-size: 20px;
}

